<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

        <key>Label</key>
        <string>everdo_backup.plist</string>

        <key>StartInterval</key>
        <integer>86400</integer>

        <key>StandardErrorPath</key>
        <string>/Users/kyle/dotfiles/stderr.log</string>

        <key>StandardOutPath</key>
        <string>/Users/kyle/dotfiles/stdout.log</string>

        <key>WorkingDirectory</key>
        <string>/Users/kyle/dotfiles</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/kyle/dotfiles/everdo_backup</string>
        </array>

    </dict>
</plist>
